@import url(./globals.css);

.FileUpload-Div{
    background-color: var(--div-background-color);
    border: 3px solid var(--border-color);
    border-radius: 10%;
    padding: var(--space-large) var(--space-ultra);
    margin: var(--space-large);
}

.FileUpload-Title{
    font-size: var(--title-size);  
    border-bottom: 1px solid var(--border-color);
    text-wrap: nowrap;
    padding-bottom: var(--space-medium);
}

.FileUpload-Label{
    font-size: var(--label-size);    
    text-wrap: nowrap;
}

.FileUpload-FileButton{
    font-size: var(--content-size);    
    text-wrap: nowrap;
    border: 1px solid var(--border-color);;
    padding: 0 var(--space-large);
}