@import url(./globals.css);

footer {
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer-Container {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
}

.Footer-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
