@import url(../globals.css);



.FileUpload-Div {
  width: 80%;
  background-color: var(--div-background-color);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  padding: var(--space-medium) var(--space-ultra);
  margin: var(--space-medium);
}

.FileUpload-File-Div {
  display: flex;
  align-items: center;
  background-color: lightgray;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  gap: 1%;
}

.FileUpload-File-Button {
  border: 1px solid var(--border-color);
  padding: 0 var(--space-large);
}

.FileUpload-Table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.FileUpload-Table-Row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.FileUpload-Table-Data {
  width: auto;
  padding: var(--space-small);
}

@media (max-width: 768px) {
  .FileUpload-Div {
    width: 100%;
  }
}
