@import url(../globals.css);

.FileUpload-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FileUpload-Div{
    background-color: var(--div-background-color);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: var(--space-large) var(--space-ultra);
    margin: var(--space-medium);
}

.FileUpload-Title{
    font-size: var(--title-size);  
    text-wrap: nowrap;
}

.FileUpload-Label{
    font-size: var(--label-size);     
    text-wrap: nowrap;
}

.FileUpload-Content{
    font-size: var(--content-size);    
    text-wrap: nowrap;
}

.FileUpload-FileButton{
    font-size: var(--content-size);    
    text-wrap: nowrap;
    border: 1px solid var(--border-color);;
    padding: 0 var(--space-large);
}