@import url(../globals.css);

.IntroSection-Div {
  width: 80%;
  background-color: var(--div-background-color);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  padding: var(--space-large) var(--space-ultra);
  margin: var(--space-medium);
  
}

.IntroSection-Badge-Div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-small);
}

.IntroSection-Intro{
    margin-top: var(--space-small);
    text-wrap: wrap;
}

.IntroSection-Feature-List{
    margin-top: var(--space-small);
    padding: 0 var(--space-medium); 
}

.IntroSection-Feature-List >ul{
    list-style-type: none;
}

@media (max-width: 768px) {
    .IntroSection-Div {
      width: 100%;
    }
  }
