@import url(../globals.css);

.IntroSection-Div {
  width: 80%;
  background-color: var(--div-background-color);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  padding: var(--space-large) var(--space-ultra);
  margin: var(--space-medium);
  
}

.IntroSection-Title{
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.IntroSection-Badge-Div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-small);
}

.IntroSection-Button-Div{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: var(--space-medium);
 gap: var(--space-medium);
}

.IntroSection-Content{
    padding: 0 var(--space-medium); 
    text-wrap: wrap;
}

.IntroSection-List{
    padding: 0 var(--space-medium); 
}

.IntroSection-List >li{
    text-wrap: wrap;
}


@media (max-width: 768px) {
    .IntroSection-Div {
      width: 100%;
    }
  }
